{% comment %} 

  Production du menu principal

  On utilise pour cela les "chapters", qui sont définis dans
  les custom settings de _config.yml

{% endcomment %}
{% for chapter in site.chapters %}
  
  <a class="page-link {% if chapter.url == site.baseurl %}  active{% endif %}" data-url="{{ site.baseurl }}" href="{{ chapter.url }}">{{ chapter.title }}</a>

{% endfor %}
{% comment %} 

  Note: 

  We create the menu based on the "chapters", 
  definded in _config.yml

  - Loop through site.chapters.
  - For each, build the menu.

  TODO: Test against current URL, to see which one is "active".

{% endcomment %}