{% comment %}
  
  This file produces the 2nd level menu.

  Our method:

  1: list all items with layout:page.
  2: we compare it with URL of current page.

{% endcomment %}

      <nav id="secondary-menu" class="secondary-menu">
      <div class="second-menu">
        <ul>
        
    {% assign base_url = page.url %}

    {% assign allpages = site.pages | where: "layout", "page" | sort: "order" %}
    
    {% for node in allpages %}
      {% if node.title %}
        {% assign node_url_parts = node.url | split: '/' %}
        {% assign node_url_parts_size = node_url_parts | size %}
        
        {% if node_url_parts[1] == url_parts[1] %}
        
            <li><a class="{% if node.url == page.url %} active{% endif %}" href='{{ node.url | prepend: site.baseurl }}'>{{node.title}}</a></li>

            {% else %}

            <li><a class="{% if node.url == page.url %} active{% endif %}" href='{{ node.url | prepend: site.baseurl }}'>{{node.title}}</a></li>

        {% endif %}

      {% endif %}
    {% endfor %}

        </ul>
      </div>
      </nav>


