{% comment %} 

  Production du menu principal

  On utilise pour cela les "chapters", qui sont définis dans
  les custom settings de _config.yml

{% endcomment %}

{% assign page_url_this = site.url | append: site.baseurl | append: "/" %}

{% for chapter in site.chapters %}
  
  <a class="page-link {% if chapter.url == page_url_this %}  active{% endif %}" data-url="{{ page_url_this }}" href="{{ chapter.url }}">{{ chapter.title }}</a>

{% endfor %}
{% comment %} 

  Note: 

  We create the menu based on the "chapters", 
  definded in _config.yml

  - Loop through site.chapters.
  - For each, build the menu.

{% endcomment %}